.products{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    max-width: 1200px;
    padding: 0 20px;
}

.product{
    border: 1px solid black;
    /* display: grid; */
    /* grid-template-rows: repeat(3, 1fr); */
    width: 300px;
    margin: 10px;
    
}

.img{
    width: 100px;
    height: 100px;
}