
.container{
    display: grid; 

    /* fraction fr ile atıyoruz sayfayı atanan katsayı oranında paylaşıyorlar */

    grid-template-columns: 1fr 1fr 1fr 2fr; 
    grid-template-rows: 100px 300px 100px 100px;
    /* grid-template-rows: repeat(2,1fr) 500px; */



    /* grid-template-columns: 100px 100px 100px 200px;
    grid-template-rows: 100px 300px 100px 100px; */
    

    /* Gap özellik */
    /* column-gap: 20px; */
    /* row-gap: 10px; */
    /* Shortland */
    /* gap: 30px 10px; */
}

.content{
    background-color: coral;
    border: 2px solid black;
    /* box-shadow: 2px 2px 2px gray ;
    border-radius: 5px; */
}
/* area tanımlama 1.yol */
.content1{
   grid-column-start:1 ;
   grid-column-end: 4;
   background-color: crimson;
}
.content4{
    grid-column-start:2 ;
    grid-column-end: 4;
    background-color: bisque;
}

/* .content6{
   grid-column-start: 3;
   grid-column-end: 5;
} */

/* area tanımlama 1. kısayolu(başlangıç ve bitiş */
.content7{
   grid-column: 1/3;
   grid-row:3/5;

}

/* 2.yol span => tane */

.content6{
    grid-column: 3/span 2;
   
 }