.navbar {
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    border-bottom: 1px solid grey;
    background-color: #F77D1F;
    color: white;
  }

  .navbar a{
    color: white;
    text-decoration: none;

  }
  .activeStyle {
    color: white;
    text-decoration: none;
    border-top: 2px solid black;
  }